*{
    overflow-x: hidden;
}
.array-container{
    /* display: flex; 
     align-items: center; */
    /* flex-direction: column; */
}

.arr-block{
   display: inline-block;
   /* position: absolute; */
   top: 500px;
    width: 10px;
    margin: 0 1px;
    background: linear-gradient(to top  , blue, red);;
    /* border-top:1px solid black; */
    transition:  0.1s;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    /* border-top:1px solid rgb(65, 65, 65); */


}
 
.array-bars{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* height: 100%; */
}

.left-div{
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.inputbar{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 2rem;
}

.inputbar h3{
  margin: 1rem auto 0.5rem;
  height: 40px;
}